*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: $font-family-main;
  margin: 0;
  padding: 0;
}

body {
  // background-color: $body-bg;
  // color: $body-color;
  font-family: $font-family-main;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  margin: 0;
}

:root {
  font-size: $font-size-root;
}

// Margins
//margin-top
.margin-top-small {
  margin-top: 3rem;
}
//margin-bottom
.margin-bottom-medium {
  margin-top: 5rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-very-small {
  margin-bottom: 1rem;
}
//margin-right
.margin-right-small {
  margin-right: 3rem;
}

.margin-right-smaller {
  margin-right: 1rem;
}

.margin-right-very-small {
  margin-right: 0.5rem;
}
//margin-left
.margin-left-medium {
  margin-left: 6rem;
}

.margin-left-small {
  margin-left: 3rem;
}

.margin-left-very-small {
  margin-left: 0.5rem;
}
//margin-left-right
.margin-left-right-small {
  margin-left: 3rem;
  margin-right: 3rem;
}

.margin-left-right-smaller {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

// Paddings
.padding-bottom-large {
  padding-bottom: 20rem;
}

.padding-top-small {
  padding-top: 2.4rem;
}

.padding-bottom-small {
  padding-bottom: 2rem;
}

.flex-display {
  display: flex;
}

.center-align {
  display: flex;
  justify-content: center;
}

.flex-end-align {
  display: flex;
  justify-content: flex-end;
}

.flex-with-space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.center-align-as-row {
  align-items: center;
  display: flex;
}

.center-align-as-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.align-as-column {
  display: flex;
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.disabled {
  opacity: 0.6;
}

.main-container {
  display: flex;
  background-color: $lightgray;
}
