.create-message {
  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  &-text {
    background-color: $white;
    border: 1px solid #0000001f;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &-container {
    &-main {
      display: flex;
      @include respond(phone) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    &-left {
      background-color: $white;
      box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.08);
      width: 36rem;
      padding: 2rem 3rem;
    }

    &-right {
      background-color: $lighter-gray;
      width: 100%;
      position: relative;
    }
  }

  &-action-btn {
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;

    &-container {
      background-color: $white;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-top: 2px solid $lightgray;
    }

    &-save {
      background-color: $blue;
      color: $white;

      :disabled {
        opacity: 0.1;
      }
    }

    &-delete {
      background-color: transparent;
      color: $blue;
      border: 1px solid $blue;
    }
  }

  &-preview {
    &-btn {
      background-color: $white;
      color: $blue;
      border: 1px solid $blue;
      width: 100%;
      border-radius: 5px;
      padding: 0.3rem 0;
      margin-top: 1rem;
      cursor: pointer;

      &-container {
        display: flex;
        flex-direction: column;
      }
    }

    &-container {
      background-color: $white;
      padding: 2rem;
      margin: auto;
      margin: auto;
      position: absolute;
      top: 50%;
      right: 50%;
      border-radius: 10px;
      width: 30rem;

      @include respond(phone) {
        position: static;
        margin: 2rem auto;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    &-outline {
      background-color: $lightgray;
      padding: 2rem;
      border-radius: 10px;
    }

    &-inner {
      padding: 1rem;
      background-color: $white;
      border-radius: 5px;

      &-image {
        margin-bottom: 1rem;
        width: 22rem;
        height: 11rem;
        position: relative;

        &-file {
          width: 20rem;
          height: 11rem;
        }
      }

      &-body {
        display: flex;
        flex-direction: column;
        border-top: 1px dotted #41c352;
        border-bottom: 1px dotted #41c352;
        padding: 1rem 0;
      }

      &-footer {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
      }

      &-btn-green {
        background-color: #f5f5f5;
        color: #41c352;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7rem;
        margin: 0.5rem 0;
        padding: 0.5rem;
        width: fit-content;
        border-radius: 5px;

        &-image {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.create-message {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-title {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  &-header {
    &-container {
      border: 1px solid rgb(0, 0, 0, 0.2);
      padding: 2rem;
      border-radius: 10px;
    }

    &-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &-container {
        display: flex;
        justify-content: space-between;
      }

      &-required {
        background-color: #f5f5f5;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2rem;
      }
    }

    &-select {
      padding: 12px;
      border-radius: 10px;
      border: 1px solid rgb(0, 0, 0, 0.2);
      width: 100%;
      margin: 2rem 0;
      appearance: none;
      background-image: url("../../img/Arrow.svg");
      background-position-x: 90%;
      background-position-y: 50%;
      background-repeat: no-repeat;
    }

    &-upload-btn {
      background-color: $white;
      color: $blue;
      border: 1px solid $blue;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      margin: 1rem 0;
      cursor: pointer;
    }
  }

  &-body-text {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
  }
}
